@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes mouseMove {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

.animate-mouse {
  animation: mouseMove 2s ease-in-out infinite;
}
